[submodule "skills/drawio-skill"]
	path = skills/drawio-skill
	url = https://github.com/Agents365-ai/drawio-skill.git
[submodule "skills/planning-with-files"]
	path = skills/planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files.git
[submodule "skills/ui-ux-pro-max-skill"]
	path = skills/ui-ux-pro-max
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
[submodule "skills/taste-skill"]
	path = skills/taste-skill
	url = https://github.com/Leonxlnx/taste-skill.git
[submodule "skills/humanizer"]
	path = skills/humanizer
	url = https://github.com/blader/humanizer.git
[submodule "skills/graphify"]
	path = skills/graphify
	url = https://github.com/Graphify-Labs/graphify.git
[submodule "skills/caveman"]
	path = skills/caveman
	url = https://github.com/JuliusBrussee/caveman.git
[submodule "skills/superpowers"]
	path = skills/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "skills/agent-skills"]
	path = skills/agent-skills
	url = https://github.com/addyosmani/agent-skills.git
[submodule "skills/anthropics-skills"]
	path = skills/anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "skills/mattpocock-skills"]
	path = skills/mattpocock-skills
	url = https://github.com/mattpocock/skills.git
